@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* START - Reduce the width of the default scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width to your preference */
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a; /* Darker color for the scrollbar thumb */
  border-radius: 10px; /* Optional: rounded corners */
}

::-webkit-scrollbar-track {
  background: #333; /* Dark background color for the track */
}

html {
  scrollbar-width: thin; /* Options: auto, thin, or none */
  scrollbar-color: #7a7a7a #333; /* thumb color and track color */
}
/* END - Reduce the width of the default scrollbar for Webkit browsers */
